.stroeer-videoplayer .stroeer-videoplayer-ui .ivad {
	.seek-preview-container {
		position: absolute;
		height: 96px;
		width: 114px;
		top: -104px;

		video {
			width: 100%;
			border-radius: 4px;
			border-bottom-left-radius: initial;
			border-bottom-right-radius: initial;
		}

		.seek-preview {
			position: relative;
			background-color: #fff;
			width: 100% !important;
			border-radius: 4px;
		}

		.seek-preview:after {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 0;
			height: 0;
			border-top: solid 8px #fff;
			border-left: solid 8px transparent;
			border-right: solid 8px transparent;
		}

		.seek-preview-time {
			text-align: center;
			font-size: 12px;
			padding-bottom: 3px;
		}
	}
}
